<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zuoyu.management.mapper.MGAdminDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.zuoyu.management.model.MGAdminDO">
        <id column="uid" property="uid" />
        <result column="adminid" property="adminid" />
        <result column="pwd" property="pwd" />
        <result column="dopwd" property="dopwd" />
        <result column="name" property="name" />
        <result column="email" property="email" />
        <result column="mobile" property="mobile" />
        <result column="status" property="status" />
        <result column="createtime" property="createtime" />
        <result column="updatetime" property="updatetime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        uid, adminid, pwd, dopwd, name, email, mobile, status, createtime, updatetime
    </sql>

</mapper>
